In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json

from IPython.display import display, HTML

In [2]:
df = pd.read_csv("dataset/phonecall.csv")
df

   pelanggan       kartu panggilan    blok  bonus
0       andi    prabayar   sedikit  sedang  tidak
1       budi  pascabayar    banyak  sedang     ya
2      citra    prabayar    banyak  sedang     ya
3       dedi    prabayar    banyak  rendah  tidak
4       evan  pascabayar     cukup  tinggi     ya
5       feni  pascabayar     cukup  sedang     ya
6       gito    prabayar     cukup  sedang     ya
7       hani    prabayar     cukup  rendah  tidak
8       jodi  pascabayar   sedikit  tinggi     ya
9       kafi  pascabayar    banyak  tinggi     ya
10     linda  pascabayar   sedikit  rendah     ya

In [3]:
datatest = {
    'pelanggan':'fernando',
    'kartu':'prabayar',
    'panggilan':'cukup',
    'blok':'rendah'
}
pd.DataFrame(data=[datatest])

  pelanggan     kartu panggilan    blok
0  fernando  prabayar     cukup  rendah

In [4]:
def get_unique(attributes):
    unique = {}
    for i, att in enumerate(attributes):
        unique[att] = set(df[att])
    return (unique)

def naive_bayes(attributes, y_title, dataset, datatest):
    unique_att = get_unique(attributes)
    unique_y = set(dataset[y_title])
    
    final_result = {}
    for y in unique_y:
        result = {}
        value = 1
        y_count = 0
        y_total = len(dataset[y_title])
        for data in dataset[y_title]:
            if data == y:
                y_count += 1
        result['probabilitas label'] = (y_count + 1)/(y_total + len(unique_y))
        value *= result['probabilitas label']
        
        for att in attributes:
            count = 0
            for i in range(len(dataset)):
                x_train = dataset[att][i]
                y_train = dataset[y_title][i]
                if x_train == datatest[att] and y_train == y:
                    count += 1
            result[att] = (count + 1)/(y_count + len(unique_att[att]))
            value *= result[att]
            
        result['probabilitas akhir'] = value
        final_result[y] = result
                
    return final_result

In [5]:
attributes = ['kartu','panggilan', 'blok']
results = naive_bayes(attributes, 'bonus', df, datatest)
pd.DataFrame(data=results)

                          ya     tidak
probabilitas label  0.692308  0.307692
kartu               0.300000  0.800000
panggilan           0.363636  0.333333
blok                0.181818  0.500000
probabilitas akhir  0.013732  0.041026